@using Police_Station_WEB.Models.Police
@model Police_Station_WEB.Models.Police.PoliceIndexModel
@{
    ViewBag.Title = "Police Station Web Police Index";
}
<div id="assets">
    <h3>Police Station Web - Police</h3>
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                </tr>
            </thead>
            <tbody>
                <!--foreach (var police in Model.PoliceS) -->
                @foreach (var police in Model.PoliceS)
                {
                    <tr class="policeRow">
                        <td class="">@Html.DisplayFor(modelItem => police.Ime)</td>
                        <td class="">@Html.DisplayFor(modelItem => police.Prezime)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
